<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{{ title }}</title>
    </head>
    <body>
        <center>
            <h1>Receiptify</h1>
            <h2>Top Track Generator</h2>
    
            <button class="spotifyButton" onclick="location.href = '/login';" >Log in with spotify</button>

            <p class="info">
                This website was inspired by the Instagram account 
                <a href="https://www.instagram.com/albumreceipts/">@albumreceipts</a>
                !
            </p>
        </center>

    </body>
</html>